<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "NYC Web Development Fellowship" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag "normalize" %>
        <%= stylesheet_link_tag "main" %>
        <%= stylesheet_link_tag "custom" %>
        <%= javascript_include_tag "vendor/modernizr-2.6.1.min" %>
        <!--[if lt IE 9]>
            <script src="html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div class="container">
            <%= yield %>
        </div>

        <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" %>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script>
          $(document).ready(function() {
            var index = 0;
            var students = $(".students").find(".student");
            var n = students.length;

            setInterval(function() {
                $(".students").find(".student").find(".face").css('background-position', '0px 0px');
                $(".students").find(".student:eq(" + (index%n) + ")").find(".face").css('background-position', '0px 0px');
                $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                 $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                $(".students").find(".student:eq(" + (Math.floor((Math.random()*n)+1)) + ")").find(".face").css('background-position', '0px -210px');
                    index++
                    }, 50000/n)
                });
        </script>
        <%= javascript_include_tag "js/plugins" %>
        <%= javascript_include_tag "js/main" %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
