%li.student
  .card-container
    .card
      .face.front{:style=>"background: url('./img/#{student.image}')"}
        %h3 #{student.name}
      .face.back
        - if student.social
          %ul.social
            - student.social.each do |service|
              %li
                - if service.keys[0] ==  "twitter"
                  = partial "partials/twitter", :locals=>{:service=>service}
                - elsif service.keys[0] ==  "github" 
                  = partial "partials/github", :locals=>{:service=>service}
                - elsif service.keys[0] ==  "blog" 
                  = partial "partials/blog", :locals=>{:service=>service} 